<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>admin home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  style="background-color:teal;margin-top:220px;">
    <div align='center'>
        <form action="/courseAdd" method="POST">
            <input type="text" name="cname" placeholder="Course name"><br><br>
            <input type="text" name="cid" placeholder="Course id"><br><br>
            <input type="number" name="credit" placeholder="Credits" min="0"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>