<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Let browser know website is optimized for mobile-->
<title>CAS</title>
</style>
    
</head>
<body>
    <nav>
        <div class="nav-wrapper" style="background-color:teal">
          <a href="/home" style="margin-left:100px;" class="brand-logo">CAS</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" style="pointer-events: none; cursor: default;">Welcome <%=result.roll%></a></li>
            <li><a href="/edit">Edit profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
<!--</body>

</html>-->